body {
    margin: 0;
    line-height: normal;
}
  
:root {
    /* fonts */
    --body-12-regular: "DM Sans";
    --font-imprima: Imprima;
  
    /* font sizes */
    --body-12-regular-size: 12px;
    --h4-size: 18px;
    --font-size-sm: 14px;
    --h1-size: 28px;
  
    /* Colors */
    --color-white: #fff;
    --divider: #f1f3f6;
    --txt-secondary: #8a90a2;
    --black: #292930;
    --color-lightsteelblue: rgba(189, 200, 216, 0.53);
    --color-lightskyblue: #9abcec;
    --color-mediumslateblue-100: #464bd1;
    --color-mediumslateblue-200: #4649d1;
    --color-black: #000;
  
    /* Gaps */
    --gap-3xs: 10px;
    --gap-7xs: 6px;
    --gap-11xs: 2px;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-xs: 12px;
    --padding-11xs: 2px;
    --padding-xl: 20px;
    --padding-26xl: 45px;
    --padding-5xs: 8px;
    --padding-lg: 18px;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-11xl: 30px;
    --br-mini: 15px;
}
  