:root {
    --txt-secondary: rgba(138, 144, 162, 1);
    --black: rgba(41, 41, 48, 1);
    --divider: rgba(241, 243, 246, 1);
    --label-colorlightprimary: rgba(0, 0, 0, 1);
    --label-colordarkprimary: rgba(255, 255, 255, 1);
    --h1-font-family: "DMSans-Bold", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 28px;
    --h1-letter-spacing: 0px;
    --h1-line-height: 129.99999523162842%;
    --h1-font-style: normal;
    --h4-font-family: "DMSans-Bold", Helvetica;
    --h4-font-weight: 700;
    --h4-font-size: 18px;
    --h4-letter-spacing: 0px;
    --h4-line-height: 120.00000476837158%;
    --h4-font-style: normal;
    --body-12-regular-font-family: "DMSans-Regular", Helvetica;
    --body-12-regular-font-weight: 400;
    --body-12-regular-font-size: 12px;
    --body-12-regular-letter-spacing: 0px;
    --body-12-regular-line-height: 16px;
    --body-12-regular-font-style: normal;
}